<div class="columns is-centered is-mobile">
  <div id="clearance" class="column is-four-fifths">
    <h1 class="has-text-centered"><%= t(".title") %></h1>

    <%= render partial: '/sessions/form' %>

  </div>
</div>